/* font médiévale */
@font-face {
    font-family: 'Medieval';
    src: url('../font/MedievalSharp-Regular.ttf') format('truetype');
}

body, header, main, aside, footer {
    margin: 0;
    padding: 0;
    font-family: 'Medieval', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    color: black;
}

h1, h2 {
    text-align: center;
}

h1 {
    font-size: 3em;
    background-color: #000;
    color: #FFF;
    margin: 0;
    padding: 0;
}

header nav a {
    display: block;
    text-align: center;
}

#mainContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    flex-wrap: nowrap;
    width: 90%;
    margin: 20px auto 20px auto;
    padding: 5px;
    /* border: 1px solid black; */
}

#background {
    position: relative;
    width: 800px;
    height: 300px;
    margin: 10px;
    box-shadow:
    2.9px 2.4px 2.5px -10px rgba(0, 0, 0, 0.217),
    9.6px 8px 4.7px -10px rgba(0, 0, 0, 0.251),
    43px 36px 11px -10px rgba(0, 0, 0, 0.5);
}

div.wizardBackground {
    width: 100%;
    height:100%;
    top: 0;
    left:0;
    opacity: 1;
    background-image: url(../images/fond_fantasy.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    line-height: 0px;
    position: absolute;
}

div.wizard {
    z-index: 1;
    opacity: 1;
    width: 300px;
    height:300px;
    top: 40px;
    left: 230px;
    background-image: url(../images/wizard.png);
    background-repeat: no-repeat;
    background-size: cover;
    line-height: 0px;
    position: relative;
}

.guesses {
    margin: 10px;
    padding: 5px;
    visibility: hidden;
}

#lastResultContainer {
    background-color: red;
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: nowrap;
    align-items: center;
    align-content: center;
    visibility: hidden;

}

.lastResult {
    margin: 10px;
    padding: 5px;
    height: 30px;
    font-size: 2em;
    font-weight: bold;

}

p.result, span.result {
    margin: 10px;
    padding: 5px;
    /* background-color: red; */
    /* visibility: hidden; */
}

span.result {
    font-size: 4em;
}

p.result {
    font-size: 2em;
    font-weight: bold;
}

#formContainer {
    height: 50px;
    width: 600px;
    position: relative;
    display:flex;
    align-items: center;
    justify-content: space-around;
}

.box__line {
    position: absolute;
    background: black;
  }
  .box__line--top, .box__line--bottom {
    height: 8px;
    width: 100%;
  }
  .box__line--top::before, .box__line--top::after, .box__line--bottom::before, .box__line--bottom::after {
    content: "";
    position: absolute;
    width: 8px;
    height: 8px;
    background: black;
  }
  .box__line--top {
    top: -8px;
  }
  .box__line--top::before {
    left: 0;
    bottom: -8px;
  }
  .box__line--top::after {
    right: 0;
    bottom: -8px;
  }
  .box__line--bottom {
    bottom: -8px;
  }
  .box__line--bottom::before {
    left: 0;
    top: -8px;
  }
  .box__line--bottom::after {
    right: 0;
    top: -8px;
  }
  .box__line--left, .box__line--right {
    width: 8px;
    height: 100%;
  }
  .box__line--left {
    left: -8px;
  }
  .box__line--right {
    right: -8px;
  }

button.resetButton {
    margin: 10px;
    padding: 5px;
    visibility: hidden;
}

p.lowOrHi {
    visibility: hidden;
    margin: 10px;
    padding: 5px;
}

p.guessCount {
    visibility: hidden;
    margin: 10px;
    padding: 5px;
}

footer #credit {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}